.container{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  
}
.container p{
    font-size: 2.5rem;
    color: #706F6D;
    padding-left: 3%;

}
.columnas{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
    align-content: center;
    text-align: center;
}
.columnas h1{
    font-size: 2.3rem;
    color: black;
    font-weight: 400;
}

.columnas p{
    font-size: 2rem;
    color: black;
    font-weight: 400;
    text-align: justify;
}
.fondoPerfil{
    background-color: aliceblue;
    height: 500px;
    width: 50%;
    border-radius: 25px;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: radial-gradient(at center, #A5AAD3, #F57292);
}
.foto{
    height: 300px;
    width: 300px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .columnas{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .fondoPerfil{
        width: 100%;
        height: 150px;
    }
    .foto{
        height: 100px;
        width: 100px;
    }

    .columnas h1{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .columnas p{
        font-size: 1rem;
    }
}