.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.con {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 8px;
}
.fullheight {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.header {
  height: 300px;
  width: 60%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-columns: 30% 70%;
  text-align: center;
  place-items: center;
}
.header h1 {
  font-size: 1.5rem;
  color: #706f6d;
}
.header p {
  font-size: 1.3rem;
  color: #706f6d;
}
.titulo {
  font-size: 3rem;
}
.foto {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.marco {
  /*border: 2px solid black;*/
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  margin: 30px;
  flex-direction: row;
}
.columnas {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 50px;
  padding: 0;
  color: #a1a1a1;
  place-content: center;
  place-items: center;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #000000 75%,
    #000000 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@media only screen and (max-width: 600px) {
  .con {
    height: 100%;
    width: 80%;
    flex-direction: column;
  }
  .fullheight {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    position: relative;
  }
  .header {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    font-size: 2rem;
    height: 500px;
    width: 100%;
  }
  .container {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    height: 100%;
    width: 100%;
  }
  .individual {
    height: 100%;
    width: 100%;
    padding: 0px;
    text-align: justify;
  }
  .marco {
    /*border: 2px solid black;*/
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    display: flex;
    margin: 30px;
    flex-direction: row;
  }
}
